.InfoBox{
    text-align: center;
    min-height: 60vh; 
    opacity: 0.85;
}
.CardContainer {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    min-height: 200px; /* Adjust height to prevent stretching */
    max-height: 600px;
}

.Temprature {
    font-size: 2rem;
    opacity: 1;
    font-weight: bolder;
    margin: 0.7rem;
}
.basic{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
}
.container {
    display: flex;
    justify-content: space-between; /* Moves .basic to the left */
    width: 100%; /* Ensures full width */
    align-items: center;
  }
  .feels{
    font-style: italic;
  }

  .content{
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }

  .basic p{
    margin: 0.5rem;
  }